
th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
td{
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
}
.button50 {
    width:120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.answer{background-color: #008CBA;}
.answer:hover {
    background-color: #00597a;
    color: white;
}

.button:hover {
    background-color: #63b966;
    color: white;
}
header{

    background: -webkit-linear-gradient(270deg, rgb(0, 119, 197) 4%, rgb(0, 0, 0) 91%);
    background: -moz-linear-gradient(270deg, rgb(0, 119, 197) 4%, rgb(0, 0, 0) 91%);
    background: linear-gradient(270deg, rgb(0, 119, 197) 4%, rgb(0, 0, 0) 91%);
}
